
<div class="container-fluid">
  <div class="card" [@slideInOut]>
      <div class="card-header" [ngStyle]="{ 'background-color': currentStep.bgcolor }">
        <img src="{{ currentStep.img }}" class="card-img-top" alt="{{ currentStep.alt }}">
      </div>
      <div class="card-body">
        <h3 class="card-title" [ngStyle]="{ 'color': currentStep.bgcolor }">{{ currentStep.title }} </h3>
        <p class="card-text">{{ currentStep.description }}</p>
      </div>
    <div class="card-footer">
        <div class="position-indicators">
          <div
            *ngFor="let step of frases; let i = index"
            class="indicator"
            [ngClass]="{ 'active': i === currentStepIndex }"
            [ngStyle]="{ 'background-color': i === currentStepIndex ? currentStep.bgcolor : '#c7c5c5' }"
            (click)="goStep(i)">
          </div>
        </div>
        <div class="prev_next">
        <button *ngIf="currentStepIndex !== 0" (click)="prevStep()">←</button>
        <button *ngIf="currentStepIndex !== frases.length - 1" (click)="nextStep()">→</button>
    </div>
